:root {
  /* ## Colors */

  /* ### Primary */

  /* (Full Slider Bar) */
  --SoftCyan: hsl(174, 77%, 80%);
  /* (Slider Backround) */
  --StrongCyan: hsl(174, 86%, 45%);
  /* (Discount Background) */
  --LightGrayishRed: hsl(14, 92%, 95%);
  /* (Discount Text) */
  --LightRed: hsl(15, 100%, 70%);
  /* (CTA Text) */
  --PaleBlue: hsl(226, 100%, 87%);

  /* ### Neutral */

  /* (PricingComponentBackground) */
  --White: hsl(0, 0%, 100%);
  /* (Main Background) */
  --VeryPaleBlue: hsl(230, 100%, 99%);
  /* (Empty Slider Bar) */
  --LightGrayishBlue: hsl(224, 65%, 95%);
  /* (Toggle Background) */
  --LightGrayishBlue: hsl(223, 50%, 87%);
  /* (Text) */
  --GrayishBlue: hsl(225, 20%, 60%);
  /* (Text & CTA Background) */
  --DarkDesaturatedBlue: hsl(227, 35%, 25%);
}
* {
  text-align: center;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  font-family: "Manrope", sans-serif;
}
h1 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
header {
  padding: 0rem 1.5rem;
  z-index: 1;
}
header p:nth-child(2) {
  margin-bottom: 0.5rem;
}
hr {
  border: 1px solid hsl(225, 40%, 94%);
  width: 86.4%;
  position: absolute;
  bottom: 22rem;
}
body {
  background-color: rgb(202, 202, 172);
}
.flex {
  display: flex;
}
#card-itself {
  z-index: 1;
  margin: 0rem auto;
  width: 26rem;
  height: 48.3rem;
  background-color: var(--VeryPaleBlue);
  padding: 6rem 2rem;
  position: relative;
  background-image: url(/images/bg-pattern.svg);
  background-size: auto;
}
#circle-img {
  width: 12rem;
  height: 12rem;
  position: absolute;
  left: 8.9rem;
  top: 3.8rem;
  color: red;
  z-index: -1;
}
#hold-title h1 {
  color:black;
}
#hold-title {
  color:var(--GrayishBlue);
}
#hold-mainfooter {
  padding: 2.4rem 2rem;
  border-radius: 0.6rem;
  margin-top: 5.5rem;
  background-color: white;
  height: 31.6rem;
}
#hold-mainfooter p:nth-child(1) {
  font-size: 1rem;
  margin-bottom: 2rem;
  font-weight: 800;
  color: var(--GrayishBlue);
  letter-spacing: 0.1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* // SLIDER */

/* The slider itself */

/* //toggle */

.toggle {
  position: relative;
  width: 56px;
  height: 27px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  left: -0.4rem;
  background-color: var(--LightGrayishBlue);
}
.toggle:hover {
  background-color: var(--SoftCyan);
}
.circle {
  position: absolute;
  left: 0.3rem;
  width: 17.5px;
  height: 17.5px;
  border-radius: 20px;
  background-color: white;
  transition: 0.3s;
}
.focus-span {
  color:black;
}

.active .circle {
  left: 92%;
  transform: translateX(-100%);
  transition: 0.3s;
}
.toggle {
  margin-left: 9rem;
}
#hold-month {
  font-size: 2.6rem;
  font-weight: 800;
  margin-top: 3.2rem;
  margin-right: 6rem;
}
#hold-month :nth-child(2) {
  position: absolute;
  font-size: 1.1rem;
  color: var(--GrayishBlue);
  left: 17.2rem;
  top: 29.5rem;
  font-weight: 300;
}
#hold-main {
  position: absolute;
  top: 34rem;
  color: var(--GrayishBlue);
}
#hold-year {
  /* position: absolute; */
  margin-left: 6.5rem;
}
#hold-toggle {
  position: absolute;
}
#orange-span {
  margin-left: 0.25rem;
  font-weight: 700;
  color:var(--LightRed);
  border-radius: 1rem;
padding: 0.2rem 0.65rem;
background-color: var(--LightGrayishRed);
font-size: 0.8rem;
}
#hold-foot {
  position: absolute;
  bottom: 13rem;
  left: 8.3rem;
  color: var(--GrayishBlue);
}
#hold-foot div {
  margin-bottom: 1rem;
}
.check-mark {
  width: 0.7rem;
  margin-right: 1rem;
}

button {
  font-size: 0.95rem;
  left: 0.5rem;
  position: absolute;
  bottom: -5rem;
  font-weight: 700;
  color: var(--PaleBlue);
  border-radius: 1.7rem;
  width: 12rem;
  padding: 1rem 1rem;
  background-color: var(--DarkDesaturatedBlue);
  cursor: pointer;
}

/* //RANGE */
.range input {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: var(--LightGrayishBlue);
  outline: none;
}
.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--StrongCyan);
  background-image: url(/images/icon-slider.svg);
  background-position: 50% 47%;
  background-size: 60%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 0px 20px 30px 5px var(--SoftCyan);
}
.range span {
  position: absolute;
  margin-left: 14px;
  width: 50px;
  height: 30px;
  background-color: #222;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  line-height: 30px;
}
.range span:before {
  content: "";
  position: absolute;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-bottom: 12px solid #222;
  left: -10px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
}
